<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>NATURA AYACUCHO</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/js/jquery-1.11.0.min.js"></script>
    <!-- Custom Theme files -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Shoplist Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Hind:400,500,300,600,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
    </script>
    <!-- //end-smoth-scrolling -->
    <script src="~/js/simpleCart.min.js"> </script>
    <script src="~/js/bootstrap.min.js"></script>
    <link href="~/Logos/logo icono.ico" rel="icon" />
</head>
<body>
    <!--header strat here-->
    <div class="header">
        <div class="container">
            <div class="header-main">
                <div class="top-nav">
                    <div class="content white">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="navbar-brand logo">
                                    <a href='@Url.Action("Index", "Home")'><img src="~/Logos/logo.jpg" alt=""></a>
                                </div>
                            </div>
                            <!--/.navbar-header-->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href='@Url.Action("Index", "Home")'>INICIO</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">VARON<b class="caret"></b></a>
                                        <ul class="dropdown-menu multi-column columns-3">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li><a href="product-m.html">Perfumería --></a></li>
                                                        <li><a href="product-m.html">Rostro --></a></li>
                                                        <li><a href="product-m.html">Cuerpo y baño --></a></li>
                                                        <li><a href="product-m.html">Cabello --></a></li>
                                                        @*<li><a href="product-m.html">Jackets & Coats</a></li>
                                                <li><a href="product-m.html">wallets</a></li>
                                                <li><a href="product-m.html">Jeans</a></li>*@
                                                    </ul>
                                                </div>
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li><a href="product-m.html">Perfume</a></li>
                                                        <li><a href="product-m.html">Para afeitar</a></li>
                                                        <li><a href="product-m.html">Desodorante</a></li>
                                                        <li><a href="product-m.html">Shampoo</a></li>
                                                        @*<li><a href="product-m.html">Sunglasses</a></li>
                                                <li><a href="product-m.html">Bands</a></li>
                                                <li><a href="product-m.html">Swimwear</a></li>*@
                                                    </ul>
                                                </div>
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li><a href="product-m.html">Colonia</a></li>
                                                        <li><a href="product-m.html">Después de afeitar</a></li>
                                                        <li><a href="product-m.html">Hidratante</a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">MUJER<b class="caret"></b></a>
                                        <ul class="dropdown-menu multi-column columns-3">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li><a href="product.html">Perfumería --></a></li>
                                                        <li><a href="product.html">Rostro --></a></li>
                                                        <li><a href="product.html">Cuerpo y baño --></a></li>
                                                        <li><a href="product.html">Cabello --></a></li>

                                                    </ul>
                                                </div>
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li><a href="product.html">Colonia</a></li>
                                                        <li><a href="product.html">Aguas de baño</a></li>
                                                        <li><a href="product.html">Perfume</a></li>
                                                        <li><a href="product.html">Anti señales</a></li>
                                                        <li><a href="product.html">Protección solar</a></li>
                                                        <li><a href="product.html">Hidratación</a></li>
                                                        <li><a href="product.html">Limpieza y tonificación</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li><a href="product.html">Desodorante</a></li>
                                                        <li><a href="product.html">Hidratación</a></li>
                                                        <li><a href="product.html">Jabón</a></li>
                                                        <li><a href="product.html">Normal a graso</a></li>
                                                        <li><a href="product.html">Secos</a></li>
                                                        <li><a href="product.html">Grasos</a></li>
                                                        <li><a href="product.html">Anti caspa</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">MAQUILLAJE<b class="caret"></b></a>
                                        <ul class="dropdown-menu multi-column columns-3">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li><a href="product-k.html">Rostro</a></li>
                                                        <li><a href="product-k.html">Labial</a></li>
                                                        <li><a href="product-k.html">Bases y sombras</a></li>
                                                        <li><a href="product-k.html">Accesorios</a></li>
                                                        <li><a href="product-k.html">Ojos</a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </ul>
                                    </li>
                                    <li><a href='@Url.Action("Contacto", "Home")'>Contacto</a></li>
                                    <!--/.navbar-collapse-->
                        </nav>
                        <!--/.navbar-->
                    </div>

                </div>
                    <!-- Mini Cart Start FUNCIONANDO-->

                                          
                <div class="span3">
                    <div class="cart-container" id="cartContainer">

                        <div class="cart">
                            <button type="button" data-toggle="dropdown" class="heading dropdown-toggle">
                                <span class="cart-icon pull-left flip"> <p class="items">CARRITO <span id="nroProductosCarrito" class="dark-clr">(0)</span></p></span>
                                <p id="totalCompraCarrito" class="dark-clr hidden-tablet">S/. 0.00</p>
                                <a href='@Url.Action("Paso1", "Compra")' class="btn btn-danger">
                                    <!-- <span class="icon icons-cart"></span> -->
                                    <i class="icon-shopping-cart"></i>
                                </a>
                            </button>
                                <div class="open-panel">

                                    <div id="itemcarrito"></div>

                                    <div class="summary">
                                        <div class="line">
                                            <div class="row-fluid">
                                                <div class="span6">TOTAL:</div>
                                                <div id="totalCarrito" class="span6 align-right size-16">S/. 0.00</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="proceed">
                                        <a href='@Url.Action("Paso1", "Compra")' class="btn btn-danger pull-right bold higher">
                                            COMPRAR
                                            <i class="icon-shopping-cart"></i>
                                        </a>
                                        <small> Si lo desea envuelto como para regalo el costo es de S/. 5.00 <a href="#"></a></small>
                                    </div>
                                </div>

                  




                        
                           

                    </div>

                </div>
                       




                        <!-- Mini Cart Start FUNCIONANDO-->

                    </div>


                    <div class="header-right">
                        <div class="head-signin">
                            <h5><a href="login.html"><i class="hd-dign"></i>Iniciar sesión</a></h5>
                        </div>
                        <!-- Search form empieza aqui codigo mixto (copiado y adecuado)-->

                        <div>
                            <form class="navbar-form pull-right" action="@Url.Action("Buscar","Home")" @*<--enviar toda esta informacion a esta ruta,
                                         "accion","controlador", parametro "text" caja de texto id *@ method="get" />
                            <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            <input type="text" class="span1" value="Buscar un producto" onfocus="this.value = '';" name="id" id="navSearchInput" />
                            </form>
                        </div>
                    </div>

                    <!--Search form termina aqui-->
                    <div class="clearfix"> </div>
                </div>
                </div>
                
                

                <div class="clearfix"> </div>
            
        @*</div>
    </div>*@
    <!--header end here-->
    @RenderBody()
    <!--footer strat here-->
    <div class="footer">
        <div class="container">
            <div class="footer-main">
                <div class="ftr-grids-block">
                    <div class="col-md-3 footer-grid">
                        <ul>
                            <li><a href='@Url.Action("Index", "Home")'>INICIO</a></li>
                            <li><a href="product.html">VARON</a></li>
                            <li><a href="product.html">MUJER</a></li>
                            <li><a href="product.html">MAQUILLAJE</a></li>
                            @*<li><a href="product.html">Watches</a></li>*@
                        </ul>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <ul>
                            <li><a href="login.html">TU CUENTA</a></li>
                            <li><a href='@Url.Action("Contacto", "Home")'>CONTACTANOS</a></li>
                            <li><a href="product.html">UBICACION DE LA TIENDA</a></li>
                            <li><a href="pressroom.html">Press Room</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <ul>
                            <li><a href='@Url.Action("Terminos", "Home")'>TERMINOS DE LA TIENDA VIRTUAL</a></li>
                            <li>
                                <select class="country">
                                    <option value="select your location">SELECCIONAR PAIS</option>
                                    <option value="saab">PERU/option>
                                    <option value="fiat">OTRO</option>
                                    @*<option value="audi">London</option>*@
                                </select>

                            </li>
                            
                        </ul>
                    </div>
                    <div class="col-md-3 footer-grid-icon">
                        <ul>
                            <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="~/Logos/facebook.png" alt="Facebook" title="Facebook"> </a></li>
                            <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="~/Logos/twitter.png" alt="Twitter" title="Twitter"> </a></li>
                            <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="~/Logos/google_plus.png" alt="Google+" title="Google+"> </a></li>
                            <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="~/Logos/pinterest.png" alt="Pinterest" title="Pinterest"> </a></li>
                            <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="~/Logos/rss.png" alt="RSS" title="RSS"> </a></li>
                            <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="~/Logos/youtube.png" alt="YouTube" title="Youtube"></a></li>
                            <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="~/Logos/instagram.png" alt="Instagram" title="Instagram"> </a></li>
                        </ul>
                        <form>
                            <input class="email-ftr" type="text" value="Email@ejemplo.com" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email@ejemplo.com';}">
                            <input type="submit" value="SUSCRIBIRME">
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="copy-rights">
                    <p>© 2017 TIENDA VIRTUAL Natura Ayacucho. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
                </div>
            </div>
        </div>
    </div>
    <!--footer end here-->

  

    <!--CONFIGURACION DEL BOTON AGREGAR AL CARRITO-->
    <script>
        $(function () {
            var carrito = localStorage.getItem("carrito");
            //Todo lo que esta en carrito guarda a la variable carrito
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
                CargaCarrito(productos);
            }
        });
        function AgregarCarrito(productoid, denominacion, imagen, precio) {
            var carrito = localStorage.getItem("carrito");
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
            }
            var itemActual;
            for (var i = 0; i < productos.length; i++) {
                if (productos[i].ProductoId == productoid) {
                    itemActual = productos[i];
                }
            }
            if (!itemActual) {
                productos.push({ ProductoId: productoid, Denominacion: denominacion, Precio: precio,
                    Cantidad: 1, Imagen: imagen });
            } else {
                itemActual.Cantidad++;
                //si es nuevo producto se agrega, si ya existe se agrega solo cantidad
            }
            var jsonStr = JSON.stringify(productos);
            localStorage.setItem("carrito", jsonStr);
            CargaCarrito(productos);
            //localstorage solo acepta cadenas de tipo json no guarda objetos 
        }
        function CargaCarrito(productos) {
            var html = '';
            var total = 0;
            $("#nroProductosCarrito").text('(' + productos.length + ')');
            //length cuantos productos hay en la lista y lo muestra en nro productos carrito
            $.each(productos, function () {
                total += this.Precio * this.Cantidad
                //cantidad x total para sacar el total
                html += '<div class="item-in-cart clearfix">' +
                '<div class="image">' +
                '<img src="/ImgProductos/' + this.Imagen + '"width="124" height="124" alt="cart item" />' +
                '</div>' +
                '<div class="desc">' +
                '<strong><a href="product.html">' + this.Denominacion + '</a></strong>' +
                '<span class="light-clr qty"> Cant.: ' + this.Cantidad + '&nbsp;' +
                '<a href="#" class="icon-remove-sign" title="Remove Item"></a>' +
                '</span>' +
                '</div>' +
                '<div class="price">' +
                '<strong>S/. ' + this.Precio + '</strong>' +
                '</div>' +
                '</div>';
                });
                $('#itemcarrito').html(html);
                $("#totalCompraCarrito,#totalCarrito").text('S/. ' + total);
                }
    </script>
</body>
</html>
