<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>NATURA AYACUCHO</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/js/jquery-1.11.0.min.js"></script>
    <!-- Custom Theme files -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
  @*<link href="~/css/main.css" rel="stylesheet"/>*@
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Shoplist Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Hind:400,500,300,600,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
    </script>
    <!-- //end-smoth-scrolling -->
    <script src="~/js/simpleCart.min.js"> </script>
    <script src="~/js/bootstrap.min.js"></script>
    <link href="~/Logos/logo icono.ico" rel="icon" />
    
    
</head>
<body>
    <!--header strat here-->
    <div class="header">
        <div class="container">
            <div class="header-main">
                <div class="top-nav">
                    <div class="content white">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="navbar-brand logo">
                                    <a href='@Url.Action("Index", "Home")'><img src="~/Logos/logo.jpg" alt=""></a>
                                </div>
                            </div>
                            <!--/.navbar-header-->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href='@Url.Action("Index", "Home")'>INICIO</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">VARON<b class="caret"></b></a>
                                        <ul class="dropdown-menu multi-column columns-3">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li><a href='@Url.Action("Productos", "Home")'>Perfumería --></a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Rostro --></a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Cuerpo y baño --></a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Cabello --></a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li><a href='@Url.Action("Productos", "Home")'>Perfume</a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Para afeitar</a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Desodorante</a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Shampoo</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li><a href='@Url.Action("Productos", "Home")'>Colonia</a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Después de afeitar</a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Hidratante</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">MUJER<b class="caret"></b></a>
                                        <ul class="dropdown-menu multi-column columns-3">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li><a href='@Url.Action("Productos", "Home")'>Perfumería --></a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Rostro --></a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Cuerpo y baño --></a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Cabello --></a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li><a href='@Url.Action("Productos", "Home")'>Colonia</a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Aguas de baño</a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Perfume</a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Anti señales</a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Protección solar</a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Hidratación</a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Limpieza y tonificación</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li><a href='@Url.Action("Productos", "Home")'>Desodorante</a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Hidratación</a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Jabón</a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Normal a graso</a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Secos</a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Grasos</a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Anti caspa</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">MAQUILLAJE<b class="caret"></b></a>
                                        <ul class="dropdown-menu multi-column columns-3">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li><a href='@Url.Action("Productos", "Home")'>Rostro</a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Labial</a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Bases y sombras</a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Accesorios</a></li>
                                                        <li><a href='@Url.Action("Productos", "Home")'>Ojos</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </ul>
                                    </li>
                                    <li><a href='@Url.Action("Contacto", "Home")'>Contacto</a></li>
                                    <!--/.navbar-collapse-->
                        </nav>
                        <!--/.navbar-->
                    </div>

                </div>



                <!-- BEGIN # BOOTSNIP INFO -->
                <div class="register">
                    <div class="container">
                        <div class="row">
                            @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                <p class="text-center">
                                    <a href="#loginModal" role="button" data-toggle="modal" class="btn btn-primary">Iniciar Sesión </a> <text> o </text>
                                    <a href="#registerModal" role="button" data-toggle="modal" class="btn btn-primary">Registrarse</a>
                                </p>
                            }
                            else
                            {
                                <a href="#">Bienvenido @Natura_Ayacucho.Controllers.HomeController.ObtenerNombreUsuario()</a>
                                <text> o </text>
                                <a href="@Url.Action("Logout", "Home")">Cerrar Sesion</a>
                            }
                        </div>
                    </div>
                </div>
                <!-- END # BOOTSNIP INFO -->
                <!-- BEGIN # MODAL LOGIN -->
                @*<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header" align="center">
                                            <img class="img-circle" id="img_logo" src="~/Logos/logo.jpg">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                        </div>

                                        <!-- Begin # DIV Form -->
                                        <div id="div-forms">

                                            <!-- Begin # Login Form -->
                                            <form id="login-form" method="post" action='@Url.Action("Login", "Home")'>
                                                <div class="modal-body">
                                                    <div id="div-login-msg">
                                                        <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                                        <span id="text-login-msg">Ingresa tu usuario y contraseña.</span>
                                                    </div>
                                                     <input type="text" class="input-block-level" name="usuario" placeholder="Nombre de usuario" required />
                                                        <input type="password" class="input-block-level" name="clave" placeholder="Contraseña" required />
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"> Recordar usuario
                                                            </label>
                                                        </div>
            </div>
                                                <div class="modal-footer">
                                                    <div>
                                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Iniciar sesión</button>
                                                    </div>
                                                    <div>
                                                        <button id="login_lost_btn" type="button" class="btn btn-link">Olvidaste tu contraseña?</button>
                                                        <button id="login_register_btn" type="button" class="btn btn-link">Registrarse</button>

                                                    </div>
                                                </div>
                                            </form>
                                            <!-- End # Login Form -->
                                            <!-- Begin | Lost Password Form -->
                                            <form id="lost-form" style="display:none;">
                                                <div class="modal-body">
                                                    <div id="div-lost-msg">
                                                        <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                                                        <span id="text-lost-msg">Ingresa tu correo electrónico.</span>
                                                    </div>
                                                    <input id="lost_email" class="form-control" type="text" placeholder="E-Mail (type ERROR for error effect)" required>
                                                </div>
                                                <div class="modal-footer">
                                                    <div>
                                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
                                                    </div>
                                                    <div>
                                                        <button id="lost_login_btn" type="button" class="btn btn-link">Ingresar</button>
                                                        <button id="lost_register_btn" type="button" class="btn btn-link">Registrarse</button>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- End | Lost Password Form -->
                                            <!-- Begin | Register Form -->
                                            <form method="post" action='@Url.Action("RegistrarCliente", "Home")' id="register-form" style="display:none;">
                                                <div class="modal-body">
                                                    <div id="div-register-msg">
                                                        <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                                                        <span id="text-register-msg">Registrate</span>
                                                    </div>

                                                        <input type="text" class="input-block-level" name="Nombres" placeholder="Nombres" required />
                                                        <input type="text" class="input-block-level" name="Apellidos" placeholder="Apellidos" required />
                                                        <input type="text" class="input-block-level" name="Usuario" placeholder="Nombre de usuario" required />
                                                        <input type="password" class="input-block-level" name="Clave" placeholder="Contraseña" required />
                                                        <input type="text" class="input-block-level" name="Correo" placeholder="E-Mail" required />
                                                        <input type="text" class="input-block-level" name="Celular" placeholder="Celular" required />
                                                        <input type="text" class="input-block-level" name="Direccion" placeholder="Dirección" required />
                                                    </div>
                                                    <div class="modal-footer">
                                                    <div>
                                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Registrar</button>
                                                    </div>
                                                    <div>
                                                        <button id="register_login_btn" type="button" class="btn btn-link">Ingresar</button>
                                                        <button id="register_lost_btn" type="button" class="btn btn-link">Olvidaste tu contraseña?</button>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- End | Register Form -->

                                        </div>
                                        <!-- End # DIV Form -->

                                    </div>
                                </div>
                            </div>*@
                <!-- END # MODAL LOGIN -->
                <!--  = Login =  -->
                <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" align="center">
                                <img class="img-circle" id="img_logo" src="~/Logos/logo.jpg">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </div>
                            <h3 id="loginModalLabel"><span class="light">Iniciar sesión</span> en Natura Ayacucho</h3>
                        </div>
                        <div class="modal-body">
                            <div id="div-login-msg">
                                <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-login-msg">Ingresa tu usuario y contraseña.</span>

                            </div>
                            <form method="post" action="@Url.Action("Login", "Home")">

                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label hidden shown-ie8" for="inputEmail">Nombre de usuario:</label>
                                        <input type="text" class="input-block-level" id="inputEmail" placeholder="Nombre de usuario" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="control-label hidden shown-ie8" for="inputPassword">Contraseña</label>
                                        <input type="password" class="input-block-level" id="inputPassword" placeholder="Contraseña" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" />
                                            Recordar usuario
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary input-block-level bold higher">
                                    INICIAR SESION
                                </button>
                            </form>
                            <p class="center-align push-down-0">
                                <a data-toggle="modal" role="button" href="#lost-form" data-dismiss="modal">Olvidaste tu contraseña?</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Begin | Lost Password Form -->
                <div class="modal fade" id="lost-form" tabindex="-1" role="dialog" aria-labelledby="lostFormLabel" aria-hidden="true" style="display: none;">
                    <form id="lost-form">
                        <div class="modal-body">
                            <div id="div-lost-msg">
                                <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-lost-msg">Ingresa tu correo electrónico.</span>
                            </div>
                            <input id="lost_email" class="form-control" type="text" placeholder="E-Mail" required>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
                            </div>
                            <div>
                                <a data-toggle="modal" role="button" href="#loginModal" data-dismiss="modal">Ingresar</a>
                                <a data-toggle="modal" role="button" href="#registerModal" data-dismiss="modal">Registrarse</a>
</div>
                        </div>
                    </form>
                </div>
                <!-- End | Lost Password Form -->
                <!--  = Register =  -->
                <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" align="center">
                                <img class="img-circle" id="img_logo" src="~/Logos/logo.jpg">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </div>
                            @*<div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>*@
                            <h3 id="registerModalLabel"><span class="light">Registrarse</span> en Natura Ayacucho</h3>
                        </div>
                        <form method="post" action="@Url.Action("RegistrarCliente", "Home")">
                            <div class="modal-body">
                                <div id="div-register-msg">
                                    <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                                    <span id="text-register-msg">Registrate</span>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <input type="text" class="input-block-level" name="Nombres" placeholder="Nombres" required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="text" class="input-block-level" name="Apellidos" placeholder="Apellidos" required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="text" class="input-block-level" name="Usuario" placeholder="Nombre de usuario" required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="password" class="input-block-level" name="Clave" placeholder="Contraseña" required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="text" class="input-block-level" name="Correo" placeholder="E-Mail" required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="text" class="input-block-level" name="Celular" placeholder="Celular" required />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="text" class="input-block-level" name="Direccion" placeholder="Dirección" required />
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-danger input-block-level bold higher">
                                REGISTRAR
                            </button>
                        </form>
                        <p class="center-align push-down-0">
                            <a data-toggle="modal" role="button" href="#loginModal" data-dismiss="modal">Ya estas registrado?</a>
                        </p>

                    </div>

                </div>



                <!-- Mini Cart Start FUNCIONANDO-->
                <!-- Mini Cart Start-->
                <div class="header-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-table-cell col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div id="cart">
                                    <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="heading dropdown-toggle">
                                        <i class="glyphicon glyphicon-shopping-cart"></i>


                                        <span id="cart-total"> <span id="nroProductosCarrito">  </span>  item(s)- <span id="totalCompraCarrito">S/. 0.00</span> </span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>

                                        </li>
                                        <li>

                                            <div id="itemcarrito"></div>
                                            <div>
                                                <table class="table table-bordered">
                                                    <tbody>
                                                        <tr>

                                                            <td class="text-right"><strong>Total</strong></td>
                                                            <td id="totalCarrito" class="text-right">S/. 0.00</td>
                                                            <small> Gastos de envío: GRATIS<a href="#"></a></small> </br>
                                                        </tr>
                                                        <small> Los impuestos están incluídos<a href="#"></a></small>
                                                    </tbody>
                                                </table>
                                                <div>
                                                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                                                    {

                                                        <a href="@Url.Action("Paso1", "Compra")"  class="btn btn-danger pull-right bold higher">PAGAR<i class="glyphicon glyphicon-shopping-cart"></i></a>
                                                    }
                                                    else
                                                    {
                                                        <a href="#loginModal"  role="button" data-toggle="modal" class="btn btn-danger pull-right bold higher">PAGAR<i class="glyphicon glyphicon-shopping-cart"></i></a>
                                                    }
                                                </div>

                                                <p><small> Si lo desea envuelto como para regalo el costo es de S/. 5.00 más</small></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mini Cart End-->


                <div class="header-right">
                    @*<div class="register">
                              @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                              {
                <a href="#loginModal"  role="button"  data-toggle="modal"><i class="hd-dign"></i>Iniciar sesión</a><text> o </text><a href ="#registerModal" role="button" data-toggle="modal"><i class="add-dign"></i>Registrarse</a>
                                 }
                              else
                              {
                                  <a href ="#">Bienvenido @Natura_Ayacucho.Controllers.HomeController.ObtenerNombreUsuario()</a>
                                   <text> o </text>
                                  <a href ="@Url.Action("Logout", "Home")">Cerrar Sesion</a>
                              }*@
                    @*<h5><a href='@Url.Action("Login", "Home")'><i class="hd-dign"></i>Iniciar sesión</a></h5>*@
                    @*</div>*@
                    <!-- Search form empieza aqui codigo mixto (copiado y adecuado)-->

                    <div>
                        <form class="navbar-form pull-right" action="@Url.Action("Buscar","Home")" @*<--enviar toda esta informacion a esta ruta,
                                         "accion","controlador", parametro "text" caja de texto id *@ method="get" />
                        <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        <input type="text" class="span1" value="Buscar un producto" onfocus="this.value = '';" name="id" id="navSearchInput" />
                        </form>
                    </div>
                </div>

                <!--Search form termina aqui-->
                <div class="clearfix"> </div>
            </div>



                </div>



                <div class="clearfix"> </div>

                @*</div>
            </div>*@
                <!--header end here-->
                @RenderBody()
                <!--footer strat here-->
                <div class="footer">
                    <div class="container">
                        <div class="footer-main">
                            <div class="ftr-grids-block">
                                <div class="col-md-3 footer-grid">
                                    <ul>
                                        <li><a href='@Url.Action("Index", "Home")'>INICIO</a></li>
                                        <li><a href='@Url.Action("Productos", "Home")'>VARON</a></li>
                                        <li><a href='@Url.Action("Productos", "Home")'>MUJER</a></li>
                                        <li><a href='@Url.Action("Productos", "Home")'>MAQUILLAJE</a></li>
                                        @*<li><a href="product.html">Watches</a></li>*@
                                    </ul>
                                </div>
                                <div class="col-md-3 footer-grid">
                                    <ul>
                                        <li><a href='@Url.Action("Sesion", "Home")'>TU CUENTA</a></li>
                                        <li><a href='@Url.Action("Contacto", "Home")'>CONTACTANOS</a></li>
                                        <li><a href='@Url.Action("Contacto", "Home")'>UBICACION DE LA TIENDA</a></li>

                                    </ul>
                                </div>
                                <div class="col-md-3 footer-grid">
                                    <ul>
                                        <li><a href='@Url.Action("Terminos", "Home")'>TERMINOS DE LA TIENDA VIRTUAL</a></li>
                                        @*<li>
                                        <select class="country">
                                            <option value="select your location">SELECCIONAR PAIS</option>
                                            <option value="saab">PERU/option>
                                            <option value="fiat">OTRO</option>
                                            @*<option value="audi">London</option>
                                        </select>

                                    </li>*@

                                    </ul>
                                </div>
                                <div class="col-md-3 footer-grid-icon">
                                    <ul>
                                        <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="~/Logos/facebook.png" alt="Facebook" title="Facebook"> </a></li>
                                        <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="~/Logos/twitter.png" alt="Twitter" title="Twitter"> </a></li>
                                        <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="~/Logos/google_plus.png" alt="Google+" title="Google+"> </a></li>
                                        <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="~/Logos/pinterest.png" alt="Pinterest" title="Pinterest"> </a></li>
                                        <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="~/Logos/rss.png" alt="RSS" title="RSS"> </a></li>
                                        <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="~/Logos/youtube.png" alt="YouTube" title="Youtube"></a></li>
                                        <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="~/Logos/instagram.png" alt="Instagram" title="Instagram"> </a></li>
                                    </ul>
                                    <form>
                                        <input class="email-ftr" type="text" value="Email@ejemplo.com" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email@ejemplo.com';}">
                                        <input type="submit" value="SUSCRIBIRME">
                                        @*<script type="text/javascript">
                                    alert("Pronto le llegarán ofertas, descuentos y promociones");
                                    </script>*@
                                    </form>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="copy-rights">
                                <p>© 2017 TIENDA VIRTUAL Natura Ayacucho. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--footer end here-->
                <!--CONFIGURACION DEL BOTON AGREGAR AL CARRITO-->
                <script>
                    $(function () {
                        var carrito = localStorage.getItem("carrito");
                        //Todo lo que esta en carrito guarda a la variable carrito
                        var productos = [];
                        if (carrito != null) {
                            productos = JSON.parse(carrito);
                            CargaCarrito(productos);
                        }
                    });

                    function CargaCarrito(productos) {
                        var html = '';
                        var total = 0;
                        $("#nroProductosCarrito").text('(' + productos.length + ')');
                        //length cuantos productos hay en la lista y lo muestra en nro productos carrito
                        $.each(productos, function () {
                            total += this.Precio * this.Cantidad
                            //cantidad x total para sacar el total
                            html += '<div class="item-in-cart clearfix">' +
                            '<div class="image">' +
                            '<img src="/ImgProductos/' + this.Imagen + '"width="124" height="124" alt="cart item" />' +
                            '</div>' +
                            '<div class="desc">' +
                            '<strong><a href="product.html">' + this.Denominacion + '</a></strong>' +
                            '<span class="light-clr qty"> Cant.: ' + this.Cantidad + '&nbsp;' +
                            '<a href="#" title="Remove Item"><i class="glyphicons glyphicons-remove-sign"></i> </a>' +
                            '</span>' +
                            '</div>' +
                            '<div class="price">' +
                            '<strong>S/. ' + this.Precio + '</strong>' +
                            '</div>' +
                            '</div>';
                        });
                        $('#itemcarrito').html(html);
                        $("#totalCompraCarrito,#totalCarrito").text('S/. ' + total);
                    }

                    function AgregarCarrito(productoid, denominacion, imagen, precio) {
                        var carrito = localStorage.getItem("carrito");
                        var productos = [];
                        if (carrito != null) {
                            productos = JSON.parse(carrito);
                        }
                        var itemActual;
                        for (var i = 0; i < productos.length; i++) {
                            if (productos[i].ProductoId == productoid) {
                                itemActual = productos[i];
                            }
                        }
                        if (!itemActual) {
                            productos.push({
                                ProductoId: productoid, Denominacion: denominacion, Precio: precio,
                                Cantidad: 1, Imagen: imagen
                            });
                        } else {
                            itemActual.Cantidad++;
                            //si es nuevo producto se agrega, si ya existe se agrega solo cantidad
                        }
                        var jsonStr = JSON.stringify(productos);
                        localStorage.setItem("carrito", jsonStr);
                        CargaCarrito(productos);
                        //localstorage solo acepta cadenas de tipo json no guarda objetos
                    }


                    //$(function () {

                    //    var $formLogin = $('#login-form');
                    //    var $formLost = $('#lost-form');
                    //    var $formRegister = $('#register-form');
                    //    var $divForms = $('#div-forms');
                    //    var $modalAnimateTime = 300;
                    //    var $msgAnimateTime = 150;
                    //    var $msgShowTime = 2000;

                    //    $("form").submit(function () {
                    //        switch (this.id) {
                    //            case "login-form":
                    //                var $lg_username = $('#login_username').val();
                    //                var $lg_password = $('#login_password').val();
                    //                if ($lg_username == "ERROR") {
                    //                    msgChange($('#div-login-msg'), $('#icon-login-msg'), $('#text-login-msg'), "error", "glyphicon-remove", "Login error");
                    //                } else {
                    //                    msgChange($('#div-login-msg'), $('#icon-login-msg'), $('#text-login-msg'), "success", "glyphicon-ok", "Login OK");
                    //                }
                    //                return false;
                    //                break;
                    //            case "lost-form":
                    //                var $ls_email = $('#lost_email').val();
                    //                if ($ls_email == "ERROR") {
                    //                    msgChange($('#div-lost-msg'), $('#icon-lost-msg'), $('#text-lost-msg'), "error", "glyphicon-remove", "Send error");
                    //                } else {
                    //                    msgChange($('#div-lost-msg'), $('#icon-lost-msg'), $('#text-lost-msg'), "success", "glyphicon-ok", "Send OK");
                    //                }
                    //                return false;
                    //                break;
                    //            case "register-form":
                    //                var $rg_username = $('#register_username').val();
                    //                var $rg_email = $('#register_email').val();
                    //                var $rg_password = $('#register_password').val();
                    //                if ($rg_username == "ERROR") {
                    //                    msgChange($('#div-register-msg'), $('#icon-register-msg'), $('#text-register-msg'), "error", "glyphicon-remove", "Register error");
                    //                } else {
                    //                    msgChange($('#div-register-msg'), $('#icon-register-msg'), $('#text-register-msg'), "success", "glyphicon-ok", "Register OK");
                    //                }
                    //                return false;
                    //                break;
                    //            default:
                    //                return false;
                    //        }
                    //        return false;
                    //    });

                    //    $('#login_register_btn').click(function () { modalAnimate($formLogin, $formRegister) });
                    //    $('#register_login_btn').click(function () { modalAnimate($formRegister, $formLogin); });
                    //    $('#login_lost_btn').click(function () { modalAnimate($formLogin, $formLost); });
                    //    $('#lost_login_btn').click(function () { modalAnimate($formLost, $formLogin); });
                    //    $('#lost_register_btn').click(function () { modalAnimate($formLost, $formRegister); });
                    //    $('#register_lost_btn').click(function () { modalAnimate($formRegister, $formLost); });

                    //    function modalAnimate($oldForm, $newForm) {
                    //        var $oldH = $oldForm.height();
                    //        var $newH = $newForm.height();
                    //        $divForms.css("height", $oldH);
                    //        $oldForm.fadeToggle($modalAnimateTime, function () {
                    //            $divForms.animate({ height: $newH }, $modalAnimateTime, function () {
                    //                $newForm.fadeToggle($modalAnimateTime);
                    //            });
                    //        });
                    //    }

                    //    function msgFade($msgId, $msgText) {
                    //        $msgId.fadeOut($msgAnimateTime, function () {
                    //            $(this).text($msgText).fadeIn($msgAnimateTime);
                    //        });
                    //    }

                    //    function msgChange($divTag, $iconTag, $textTag, $divClass, $iconClass, $msgText) {
                    //        var $msgOld = $divTag.text();
                    //        msgFade($textTag, $msgText);
                    //        $divTag.addClass($divClass);
                    //        $iconTag.removeClass("glyphicon-chevron-right");
                    //        $iconTag.addClass($iconClass + " " + $divClass);
                    //        setTimeout(function () {
                    //            msgFade($textTag, $msgOld);
                    //            $divTag.removeClass($divClass);
                    //            $iconTag.addClass("glyphicon-chevron-right");
                    //            $iconTag.removeClass($iconClass + " " + $divClass);
                    //        }, $msgShowTime);
                    //    }
                    //});



                </script>
</body>
</html>
