@{ 
    Layout = null;
}
@model Natura_Ayacucho.Models.Cliente
<!DOCTYPE html>
@*esto es para quitar la cabecera*@
<html class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Logos/logo icono.ico" rel="icon" />
    <title>PASO 1/4</title>
    <meta name="description" content="Responsive and clean html template design for any kind of ecommerce webshop">
    <!-- CSS Part Start-->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    
    <!-- Custom Theme files -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    
    <!--Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Hind:400,500,300,600,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <!-- CSS Part End-->
</head>
<body class="checkout-page">
    <div class="navbar-brand logo">
        <a href="index.html"><img src="~/Logos/logo.jpg" alt=""></a>
        <label>NATURA AYACUCHO</label>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-shopping-cart"></i>Datos personales</h4>
            </div>
            <form action="#" method="post" class="form-horizontal form-checkout">
                <div class="control-group">
                    <label class="control-label"  for="firstName">Cliente<span class="red-clr bold">*</span></label>
                    <div class="controls">
                        <input type="text"  id="firstName"  class="span4"  required=""  value="@Model.Nombres  @Model.Apellidos" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"  for="telephone">Celular<span class="red-clr bold">*</span></label>
                    <div class="controls">
                        <input type="tel"  id="telephone"  class="span4"  required=""  value="@Model.Celular"   />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"  for="email">Email<span class="red-clr bold">*</span></label>
                    <div class="controls">
                        <input type="email"  id="email" class="span4"  required=""  value="@Model.Correo" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"  for="addr1">Direccion<span class="red-clr bold">*</span></label>
                    <div class="controls">
                        <input type="text"  id="addr1"  class="span4"  required="" value="@Model.Direccion" />
                    </div>
                </div>
            </form>
        </div>

        <div class="checkbox">
            <label>La dirección de entrega será la misma que indicaste.</label>
            <label>A menos que comuniques otro sitio de entrega.</label>
        </div>

        <a href="@Url.Action("Paso2","Compra")" class="btn btn-primary higher bold">CONTINUAR</a>
    </div>


        <!-- JS Part Start-->

        <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/easing.js"></script>

        <!-- JS Part End-->


</body>
</html>

